@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Podkova', serif;
  background: #EAE6E2;
}

.frame {
  width: auto;
  margin: 0 10%;
} 

.title-frame, .menu-header, .payment-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.title-line, .menu-line, .payment-line {
  flex-grow: 2;
  height: 2px;
  background: #615F5B;
  min-width: 5%;
  border-radius: 5px;
}

.title, .menu-title, .payment-group {
  margin: 0 5%;
}

.hero-img {
  height: 314px;
  background-image: url("./img/image_50416385.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-frame {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.menu-title {
  width: auto;
  text-align: center;
}

.menu-card, .payment-frame{
 width: 95%;
 margin-right: 5%;
}

.menu-card:last-of-type{
  margin-right: 0;
}

.price-menu, .price-menu ul {
  list-style-type: none;
}

.price-menu {
  padding: 0;
}

.price-menu ul {
  padding-inline-start: 2ch;
}

.price-menu li {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: end;
  margin-bottom: 1%;
}

.price-menu li > .cost {
  text-align: right;
}

.price-menu li > .service {
  position: relative;
  overflow: hidden;
}

.price-menu li > .service::after {
  position: absolute;
  padding-left: .25ch;
  content: " . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . ";
  text-align: right;
  color: #615F5B;
}

.price-menu li > .price {
  min-width: 2ch;
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.payment-frame {
  width: 50%;
  margin: 5% auto;
}

.payment-line {
  margin: 0 3%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-bottom: 1%;
} 

.footer-title {
  font-weight: bold;
}

.copywrite {
  font-style: italic;
}