@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Podkova", serif;
  background: white;
}

.frame {
  width: auto;
  margin: 0 10%;
}

.title-frame,
.menu-header,
.payment-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.title-line,
.menu-line,
.payment-line {
  flex-grow: 2;
  height: 2px;
  background: #615f5b;
  min-width: 5%;
  border-radius: 5px;
}

.title,
.menu-title,
.payment-group {
  margin: 0 5%;
}

.hero-img {
  height: 314px;
  background-image: url("./img/image_50416385.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-frame {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.menu-title {
  width: auto;
  text-align: center;
}

.menu-card,
.payment-frame {
  width: 95%;
  margin-right: 5%;
}

.menu-card:last-of-type {
  margin-right: 0;
}

.price-menu,
.price-menu ul {
  list-style-type: none;
}

.price-menu {
  padding: 0;
}

.price-menu ul {
  padding-inline-start: 2ch;
}

.price-menu li {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: end;
  margin-bottom: 5%;
}

.price-menu li > .cost {
  text-align: right;
}

.price-menu li > .service {
  position: relative;
  overflow: hidden;
}

.price-menu li > .service::after {
  position: absolute;
  padding-left: 0.25ch;
  content: " . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . ";
  text-align: right;
  color: #615f5b;
}

.price-menu li > .price {
  min-width: 2ch;
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.payment-frame {
  width: 100%;
  margin: 0 auto;
}

.payment-accepted {
  color: transparent;
  text-shadow: 0 0 0 green;
}

.payment-line {
  margin: 0 3%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

footer p {
  margin-bottom: 1%;
}

.footer-title {
  font-weight: bold;
}

.copyright {
  font-style: italic;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in;
}

@media only screen and (max-width: 610px) {
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.8em;
  }

  .hero-img {
    display: none;
  }
  .menu-frame {
    flex-direction: column;
  }
  .menu-card {
    margin-right: 0px;
  }

  .payment-line {
    display: none;
  }

  .footer-title {
    display: none;
  }

  footer p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .menu-frame {
    flex-direction: column;
  }
  .menu-card {
    margin-right: 0px;
    width: 100%;
  }

  .payment-line {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
